.navbar{
	background-color: #0c071d;
	color: white;
	height:100px;

}


.bg{
	background-image: url(party2-sectionbg2.jpg);
	background-position: center;
	background-size: cover;
	height:500px;
}
.main img{
	width: 50%;
}
.bg1{
	background-image: url(party2-sectionbg2.jpg);
	background-position: center;
/*	background-size: cover;*/
margin-top: -30px;

} #A{
  	width: 100px;
  	margin-top: 250px;



  }
  #a{
  	width:90px;
  	margin-top: 250px;

  }
  #B{
  	width:100px;
  	background-color:black;
  	margin-top: 250px;

  }
.bg3{
	background-image: url(party2-sectionbg2.jpg);
	background-size: cover;
	background-position: center;
	margin-top: 150px;
	margin-bottom: 150px;
}
.bg4{
	background-image: url(party2-sectionbg2.jpg);
	background-size: cover;
	background-position: center;

}
.bg5{
	background-image: url(background.jpg);
	background-position: center;
	background-size: cover;
}
#c{
	background-color: darkred;
}



.anu{
	animation-name:six;
	animation-duration: 2s;
/*	animation-fill-mode:left;*/
}
@keyframes six {
	0%{
		transform: translateX(-200px);
	}
	100%{
		transform: translateX(10px);
	}
}
#C{
	width:46%;
	margin-top: -20px;
/*	background-color: red;*/
}
.nav-item{
	margin-top: -10px;


}










.z{
    position: relative;
}
.z{
	animation-name:one;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
@keyframes one  {
	0%{
		transform: translateY(200px);
	}
	100%{
		transform: translateY(0px);
	}
}

.y{
	animation-name:two;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
@keyframes two {
	0%{
		transform: translateY(200px);
	}
	100%{
		transform: translateY(0px);
	}
}

.w{
	animation-name:three;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
@keyframes three {
	0%{
		transform: translateX(-200px);
	}
	100%{
		transform: translateX(0px);
	}
}


.v{
	animation-name:four;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
@keyframes four {
	0%{
		transform: translateX(200px);
	}
	100%{
		transform: translateX(0px);
	}
}


.u{
	animation-name:three;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
@keyframes five {
	0%{
		transform: translateX(-200px);
	}
	100%{
		transform: translateX(0px);
	}
}


.x{
	animation-name:six;
	animation-duration: 2s;
/*	animation-fill-mode: forwards;*/
}
@keyframes six {
	0%{
		transform: translateY(200px);
	}
	100%{
		transform: translateY(0px);
	}
}


.z img{
	position: absolute;
	top: -60px;
	left: 15%;

}
.y{
    position: relative;
    padding-top: 140px;
}

.y img{
	position: absolute;
	top: -50px;
	left: 15%;

}
.bg6{
	background-image: url(party2-sectionbg2.jpg);
/*	background-position: center;*/
	background-size: cover;

}

